[run]
branch = true
omit =
    hcl2/lark_parser.py
    hcl2/version.py
    hcl2/__main__.py  
    hcl2/__init__.py
    hcl2/rules/__init__.py
    cli/__init__.py

[report]
show_missing = true
fail_under = 90
exclude_lines =
    raise NotImplementedError
