name: Test and Optionally Publish
on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
    test:
        name: Check code against linter/unit tests
        runs-on: ubuntu-22.04
        strategy:
          matrix:
            python-version: ['3.7', '3.8', '3.9', '3.10']
        steps:
        - uses: actions/checkout@master
        - name: Set up Python ${{ matrix.python-version }}
          uses: actions/setup-python@v4
          with:
            python-version: ${{ matrix.python-version }}
        - name: Install dependencies
          run: python -m pip install --upgrade tox tox-gh-actions wheel setuptools setuptools_scm build
        - name: Build to generate the version file
          run: python3 -m build -nwx
        - name: Test with Tox
          run: tox

    build-publish:
        name: Build and publish Python distributions
        runs-on: ubuntu-22.04
        needs: [test]
        if: github.ref == 'refs/heads/master'
        steps:
        - uses: actions/checkout@master
        - name: Set up Python
          uses: actions/setup-python@v2
          with:
            python-version: 3.7
        - name: Install dependencies
          run: python -m pip install --upgrade pip wheel setuptools setuptools_scm build
        - name: Generate Lark Parser
          run: |
            pip install -r requirements.pip -e .
            python hcl2/parser.py
        - name: Build tarball
          run: python3 -m build -nwsx
        - name: Publish to Test PyPI
          uses: pypa/gh-action-pypi-publish@master
          with:
            password: ${{ secrets.TEST_PYPI_API_TOKEN }}
            repository_url: https://test.pypi.org/legacy/
            skip_existing: true
        - name: Publish to PyPI
          uses: pypa/gh-action-pypi-publish@master
          with:
            password: ${{ secrets.PYPI_API_TOKEN }}
